################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Karakoç/FileContentIndex/85677da1-dd14-4758-a7b3-16ff2b8aa856.vsidx
/.vs/Karakoç/FileContentIndex/9b14292a-18df-4086-86f1-4e8c07767a54.vsidx
